*
{
	margin: 0px;
	padding: 0px;
}

#application
{
	overflow:hidden;
	white-space: nowrap;
	background-image: url( "../image/bg.jpg" );
	background-attachment:fixed;
	background-position:center;
	position:absolute;
	top:0px;
	left:0px;
    width:100%;
    height:100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    z-index:-5;
  background-repeat: no-repeat;
  background-color: #022634;
}

#viewport
{
    position:absolute;
    z-index:-2;
}

.card
{
	position:absolute;
	background-color: #AAA;
	background-size: 100% 100%;
	box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.3 );
	border-radius: 5%;
    cursor: pointer;
}

.card .header
{
	background-color: #EEE;
	width: 100%;
	margin-top: 5%;
	position: relative;
	top: 60px;
	
}

.card .header a
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#center_top
{
	overflow:hidden;
	white-space: nowrap;
	width: 100%;
	padding: 3px;
	border-radius: 5px;
    width: 200px;
    margin: 5px auto;
	color: #EEE;
	background-color: rgba( 0, 0, 0, 0.2 ); 
    border: 1px solid #000;
}
#center_top_wrapper
{
	width:200px;
	margin: 0px auto 0px auto;
}
#rarity
{
	width:190px;
}


#right
{
	overflow:hidden;
	white-space: nowrap;
    height:100%;
	color: #EEE;
	background-color: rgba( 0, 0, 0, 0.2 );
	border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    top:5px;
    right:0px;
}

.search_input
{
	height: 25px;
	float: left;
}

.search_button
{
	width: 25px;
	height: 25px;
	margin-left:2px;
  margin-top: 8px;
	border-radius: 3px;
	background-image: url( "../image/magnifyingglass.png" );
	background-size: 100% 100%;	
	float: left;	
}

.query_title, .query_label
{
    transition: background-color .5s;
    -webkit-transition: background-color .5s; /* Safari */
    background-color: transparent;
}

.query_title:hover, .query_label:hover
{
    background-color: #333;
    background-color: rgba(255,255,255,0.2);
}

.query
{
	width: 100%;
	float:left;
	margin-bottom: 10px;
	background-color: rgba( 0, 0, 0, 0.2 );	
}

.query_title
{
	display: inline;
    cursor: pointer;    
}

.query_remove_button
{
	display: inline;
	float: right;
	width: 20px;
}

.query_label
{
	margin-left: 10px;
	font-size: 10px;
    cursor: pointer;
}

.clear_button
{
	width: 100%;
}

.option
{
	float:left;
  position: relative;
  top: 9px;
  left: 11px;
	margin-right: 5px;
  margin-left: 5px;
}

.common
{
	color:#EEE;
}

.uncommon
{
	color:#EEE;
}

.rare
{
	color:#EEE;
}

.mythic
{
	color:#EEE;
}





















