*
{
	margin: 0px;
	padding: 0px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

body
{
	overflow:hidden;
	white-space: nowrap;
	background-image: url( "../image/bg.jpg" );
	position:relative;
	top:0px;
	left:0px;
}

.card
{
	position:absolute;
	background-color: #AAA;
	background-size: 100% 100%;
	box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.3 );
	border-radius: 5%;
}

.card .header
{
	background-color: #EEE;
	width: 100%;
	margin-top: 5%;
	position: relative;
	top: 60px;
	
}

.card .header a
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#center_top
{
	overflow:hidden;
	white-space: nowrap;
	width:200px;
	background-color: rgba( 0, 0, 0, 0.4 );
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #000;	
}
#center_top_wrapper
{
	width:190px;
	margin: 0px auto 0px 5px;
}
#right
{
	overflow:hidden;
	overflow-y:scroll;
	white-space: nowrap;
	width:200px;
	color: #EEE;
	background-color: rgba( 0, 0, 0, 0.4 );
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	max-height: 1024px;
	border-bottom-left-radius: 5px;
}

.search_input
{
	height: 25px;
	float: left;
}

.search_button
{
	width: 25px;
	height: 25px;
	margin-left:2px;
	border-radius: 3px;
	background-image: url( "../image/magnifyingglass.png" );
	background-size: 100% 100%;	
	float: left;	
}

.query
{
	width: 100%;
	float:left;
	margin-bottom: 10px;
	background-color: rgba( 0, 0, 0, 0.2 );	
}

.query_title
{
	display: inline;
}

.query_remove_button
{
	display: inline;
	float: right;
	width:20px;
}

.query_label
{
	margin-left: 10px;
	font-size: 10px;
}

.clear_button
{
	width: 100%;
}